body {
    display: flex;    
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937 ;
    color: white;
    flex-direction: column;
    padding: 0 30px;    
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_links ul {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.header_links ul li {
    text-decoration: none;
    list-style: none;
}

.header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {width: 300px;}